
[submodule "config/nvim/pack/interrobang/start/coc.nvim"]
	path = config/nvim/pack/interrobang/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "config/nvim/pack/interrobang/start/vim-snippets"]
	path = config/nvim/pack/interrobang/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "config/nvim/pack/interrobang/start/vim-kitty-navigator"]
	path = config/nvim/pack/interrobang/start/vim-kitty-navigator
	url = https://github.com/knubie/vim-kitty-navigator
[submodule "config/nvim/pack/interrobang/start/gina.vim"]
	path = config/nvim/pack/interrobang/start/gina.vim
	url = https://github.com/lambdalisue/gina.vim
[submodule "config/nvim/pack/interrobang/start/vim-interrobang"]
	path = config/nvim/pack/interrobang/start/vim-interrobang
	url = https://github.com/lkemitchll/vim-interrobang
[submodule "config/nvim/pack/interrobang/start/vim-polyglot"]
	path = config/nvim/pack/interrobang/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "config/nvim/pack/interrobang/start/vim-commentary"]
	path = config/nvim/pack/interrobang/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "config/nvim/pack/interrobang/start/vim-sensible"]
	path = config/nvim/pack/interrobang/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "config/nvim/pack/interrobang/start/vim-surround"]
	path = config/nvim/pack/interrobang/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/nvim/pack/interrobang/start/vim-floaterm"]
	path = config/nvim/pack/interrobang/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "config/nvim/pack/interrobang/start/vim-sneak"]
	path = config/nvim/pack/interrobang/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
