[submodule "config/nvim/pack/plugins/start/tokyonight.nvim"]
	path = config/nvim/pack/plugins/start/tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim
[submodule "config/nvim/pack/plugins/start/nvim-treesitter"]
	path = config/nvim/pack/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter
[submodule "config/nvim/pack/plugins/start/mini.nvim"]
	path = config/nvim/pack/plugins/start/mini.nvim
	url = git@github.com:echasnovski/mini.nvim
[submodule "config/nvim/pack/plugins/start/lsp-zero.nvim"]
	path = config/nvim/pack/plugins/start/lsp-zero.nvim
	url = git@github.com:VonHeikemen/lsp-zero.nvim
	branch = v3.x
[submodule "config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = config/nvim/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "config/nvim/pack/plugins/start/mason.nvim"]
	path = config/nvim/pack/plugins/start/mason.nvim
	url = git@github.com:williamboman/mason.nvim
[submodule "config/nvim/pack/plugins/start/mason-lspconfig.nvim"]
	path = config/nvim/pack/plugins/start/mason-lspconfig.nvim
	url = git@github.com:williamboman/mason-lspconfig.nvim
[submodule "config/nvim/pack/plugins/start/neogit"]
	path = config/nvim/pack/plugins/start/neogit
	url = git@github.com:NeogitOrg/neogit
[submodule "config/nvim/pack/plugins/start/plenary.nvim"]
	path = config/nvim/pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "config/nvim/pack/plugins/start/vim-kitty-navigator"]
	path = config/nvim/pack/plugins/start/vim-kitty-navigator
	url = git@github.com:knubie/vim-kitty-navigator
[submodule "config/nvim/pack/plugins/start/kitty-runner.nvim"]
	path = config/nvim/pack/plugins/start/kitty-runner.nvim
	url = git@github.com:lkemitchll/kitty-runner.nvim
[submodule "config/nvim/pack/plugins/start/which-key.nvim"]
	path = config/nvim/pack/plugins/start/which-key.nvim
	url = git@github.com:folke/which-key.nvim
[submodule "config/nvim/pack/plugins/start/nvim-web-devicons"]
	path = config/nvim/pack/plugins/start/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons
