[submodule "config/nvim/pack/vish/start/neogit"]
	path = config/nvim/pack/vish/start/neogit
	url = git@github.com:TimUntersberger/neogit
[submodule "config/nvim/pack/vish/start/tokyonight.nvim"]
	path = config/nvim/pack/vish/start/tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim
[submodule "config/nvim/pack/vish/start/nvim-lspconfig"]
	path = config/nvim/pack/vish/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "config/nvim/pack/vish/start/nvim-treesitter"]
	path = config/nvim/pack/vish/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter
[submodule "config/nvim/pack/vish/start/vim-jinja2-syntax"]
	path = config/nvim/pack/vish/start/vim-jinja2-syntax
	url = git@github.com:glench/vim-jinja2-syntax
[submodule "config/nvim/pack/vish/start/telescope.nvim"]
	path = config/nvim/pack/vish/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "config/nvim/pack/vish/start/mini.nvim"]
	path = config/nvim/pack/vish/start/mini.nvim
	url = git@github.com:echasnovski/mini.nvim
[submodule "config/nvim/pack/vish/start/kitty-runner.nvim"]
	path = config/nvim/pack/vish/start/kitty-runner.nvim
	url = git@github.com:lkemitchll/kitty-runner.nvim
[submodule "config/nvim/pack/vish/start/vim-kitty-navigator"]
	path = config/nvim/pack/vish/start/vim-kitty-navigator
	url = git@github.com:knubie/vim-kitty-navigator
[submodule "config/nvim/pack/vish/start/plenary.nvim"]
	path = config/nvim/pack/vish/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "config/nvim/pack/vish/start/mason.nvim"]
	path = config/nvim/pack/vish/start/mason.nvim
	url = git@github.com:williamboman/mason.nvim
[submodule "config/nvim/pack/vish/start/mason-lspconfig.nvim"]
	path = config/nvim/pack/vish/start/mason-lspconfig.nvim
	url = git@github.com:williamboman/mason-lspconfig.nvim
[submodule "config/nvim/pack/vish/start/vim-snippets"]
	path = config/nvim/pack/vish/start/vim-snippets
	url = git@github.com:honza/vim-snippets
[submodule "config/nvim/pack/vish/start/nvim-snippy"]
	path = config/nvim/pack/vish/start/nvim-snippy
	url = git@github.com:dcampos/nvim-snippy
[submodule "config/nvim/pack/vish/start/cmp-nvim-lsp"]
	path = config/nvim/pack/vish/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp
[submodule "config/nvim/pack/vish/start/cmp-buffer"]
	path = config/nvim/pack/vish/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer
[submodule "config/nvim/pack/vish/start/nvim-cmp"]
	path = config/nvim/pack/vish/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp
[submodule "config/nvim/pack/vish/start/cmp-snippy"]
	path = config/nvim/pack/vish/start/cmp-snippy
	url = git@github.com:dcampos/cmp-snippy
[submodule "config/nvim/pack/vish/start/debugprint.nvim"]
	path = config/nvim/pack/vish/start/debugprint.nvim
	url = git@github.com:andrewferrier/debugprint.nvim
